h1{
    background-color: lightblue;
    text-align: center;
}
.box{
    color: mediumvioletred;
    text-align: justify;
}
.text{
    font-family: 'Times New Roman', Times, serif;
    background-color:  #f0f8ff;
}