h1{
    background-color: lightblue;
    text-align: center;
}
.box{
    color: mediumvioletred;
    text-align: justify;
    
 
}
.text{
    font-family: 'Times New Roman', Times, serif;
    background-color:  #f0f8ff;
}

.btn{
    background-color: lightblue;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
 }.btn:hover{
    border: solid 1px gray;
 }